* {
    box-sizing: border-box;
}

.header {
    height: 91px;
}

.logo {
    margin-top: 8px;
}

.logo:hover {
    transition: 1s;
    transform: rotate(360deg);
}

.container {
    max-width: 1320px;
    height: 430px;
    background: linear-gradient(180deg, rgba(121, 240, 147, 0.47) 0%, rgba(66, 0, 255, 0.2961) 100%);
}

.site .container {
    margin-top: 50px;
}

.head-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #000000;
    line-height: 35px;
    padding-top: 145px;
    padding-left: 33px;
}

.main-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 22px;
    color: #7C7C7C;
    padding-left: 33px;
    padding-top: 25px;
}

.devices {
    float: right;
    padding-top: 20px;
    padding-right: 67px;
}


@media (max-width:1140px) {
    .site .container {
        height: 500px;
    }
}

@media (max-width: 956px) {
    .site .container {
        height: 540px;
    }
}


@media (max-width: 860px) {
    .devices {
        float: unset;
    }
    
    .site .container {
        height: 680px;
    }

    .head-text {
        text-align: center;
        padding: 0;
    }

    .main-text {
        text-align: center;
        padding: 0;
        padding-top: 10px;
    }

}

@media (max-width: 631px) {
    .site .container {
        height: 725px;
    }
}

@media (max-width: 565px) {
    .devices {
        max-width: 100%;
        padding-left: 70px;
    }
    .site {
        max-width: 100%;
    }
}

@media (max-width: 320px) {
    .head-text {
        padding-top: 30px;
    }
    
    .site .container {
        height: 680px;
    }
}

.how .container {
    margin-top: 178px;
}

.how-head-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #000000;
    padding-top: 23px;
    text-align: center;
}

.how-info-text {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #6A6A6A;
    text-align: center;
    margin-top: -25px;    
}

.html-bar {
    width: 1043px;
    height: 22px;
    background: #545050;
    border-radius: 3.5px;
    margin-top: 40px;
}

.html-full-bar {
    width: 418px;
    height: 22px;
    background: rgba(120, 255, 123, 0.82);
    border-radius: 3.5px;
    margin-left: 0px;
    padding-left: 5px;
}

.html-bar-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.css-bar {
    margin-top: 30px;
    width: 1043px;
    height: 22px;
    background: #545050;
    border-radius: 3.5px;
    margin-top: 40px;
}

.css-full-bar {
    margin-top: 30px;
    width: 521px;
    height: 22px;
    background: rgba(120, 255, 123, 0.82);
    border-radius: 3.5px;
    margin-left: 0px;
    padding-left: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.css-bar-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.js-bar {
    margin-top: 30px;
    width: 1043px;
    height: 22px;
    background: #545050;
    border-radius: 3.5px;
    margin-top: 40px;
}

.js-full-bar {
    margin-top: 30px;
    width: 104px;
    height: 22px;
    background: rgba(120, 255, 123, 0.82);
    border-radius: 3.5px;
    margin-left: 0px;
    padding-left: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.js-bar-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.html-percent {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #F0F0F0;
    padding-right: 79px;
}

.css-percent {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #F0F0F0;
    padding-right: 79px;
}

.js-percent {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #F0F0F0;
    padding-right: 79px;
}

.zvezda {
    color: black;
    font-weight: 900;
}

.ps-info {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 13px;
    color: #212121;
    position: absolute;
    right: 320px;
    text-align: right;
    margin-top: 80px;
}

@media (max-width: 1072px) {
    .site .container,
    .how .container {
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 1066px) {
    .html-bar,
    .css-bar,
    .js-bar {
        width: 100%;
    }

    .html-full-bar {
        width: 40%;
    }

    .css-full-bar {
        width: 50%;
    }

    .js-full-bar {
        width: 10%;
    }
}

@media (max-width: 1600px) {
    .ps-info {
        position: initial;
        text-align: center;
    }
}

@media (max-width: 551px) {
    .html-percent,
    .css-percent,
    .js-percent {
        padding-right: 10px;
    }
}

@media (max-width: 460px) {
    .how .container {
        height: 500px;
    }
}

@media (max-width: 381px) {
    .how .container {
        height: 530px;
    }
}

.offer .container {
    margin-top: 178px;
}

.offer-head-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #000000;
    text-align: center;
    padding-top: 26px;
}

.offer-info-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #6A6A6A;
    text-align: center;
    margin-top: -25px;   
}

.check-boxes {
    margin-top: -70px;
}

.offer-main-text {
    float: right;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.13em;
    color: #000000;
    margin-top: 60px;
}

.offer-ps-info {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    letter-spacing: 0.09em;
    color: #000000;
    margin-top: -70px;
}

@media (max-width: 1199px) {
    .offer .container {
        height: 650px;
    }
    .offer-main-text {
        text-align: center;
        float: unset;
        margin-top: 0;
    }
    .offer-ps-info {
        margin-top: 40px;
    }
}

@media (max-width: 799px) {
    .offer .container {
        height: 750px;
    }
}

@media (max-width: 756px) {
    .offer .container {
        height: 800px;
    }
}

@media (max-width: 461px) {
    .offer .container {
        height: 870px;
    }
}

@media (max-width: 442px) {
    .offer .container {
        height: 950px;
    }
}

@media (max-width: 440px) {
    .check-boxes {
        max-width: 100%;
        margin-top: 30px;
    }

    .offer .container {
        height: 1010px;
    }
}
@media (max-width: 380px) {

    .offer .container {
        height: 980px;
    }
}

.examples .container {
    margin-top: 179px;
}

.examples-head-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #000000;
    padding-top: 23px;
    text-align: center;
    line-height: 40px;
}

.examples-info-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #6A6A6A;
    text-align: center;
    margin-top: -15px;   
}

.homeboys {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    margin-left: 34px;
    margin-top: 60px;
    cursor: pointer;
    background: url(../img/homeboys.png);
}

.homeboys a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 38px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.92);
    text-decoration: none;
}

.homeboys-p {
    text-align: center;
    padding-top: 65px;
}

@media (min-width: 1268px) {
    .homeboys:hover,
    .in-develop-1:hover,
    .in-develop-2:hover {
        transition: 0.3s;
        transform: scale(1.05);
    }
}

.in-develop-1 {
    width: 350px;
    height: 200px;
    background: #000000;
    border-radius: 10px;
    text-align: center;
    padding-top: 65px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 38px;
    color: #43EA80;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 60px;
    cursor: pointer;
}

.in-develop-2 {
    width: 350px;
    height: 200px;
    background: #000000;
    border-radius: 10px;
    text-align: center;
    padding-top: 65px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 38px;
    color: #43EA80;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 60px;
    margin-right: 30px;
    cursor: pointer;
}

@media (max-width: 1145px) {
    .homeboys,
    .in-develop-1,
    .in-develop-2 {
        width: 300px;
        height: 175px;
    }

    .in-develop-1,
    .in-develop-2 {
        padding-top: 60px;
    }
}

@media (max-width: 999px) {
    .homeboys,
    .in-develop-1,
    .in-develop-2 {
        width: 250px;
        height: 125px;
    }

    .in-develop-1,
    .in-develop-2 {
        padding-top: 0px;
    }

    .homeboys-p {
        padding-top: 35px;
    }
}

@media (max-width: 784px) {
    .examples .container {
        height: 600px;
    }
}

@media (max-width: 500px) {
    .examples .container {
        height: 700px;
    }
}

@media (max-width: 362px) {
    .examples .container {
        height: 750px;
    }
}


  .footer {
    height: 290px;
    margin-top: 250px;
    background: url(../img/footer-bg.png);
    background-repeat: no-repeat;
  }

  .tg-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;   
    color: #1341BA;
    text-decoration: unset;
  }

  .tg-link-p {
      text-align: center;
      padding-top: 180px;
  }