* {
    box-sizing: border-box;
}


body {
    background: #10061E;
}

.navbar {
    background: transparent !important;
}

.navbar-brand {
    margin-left: 62px;
    margin-top: 25px;
}

.navbar-nav {
    margin-right: 65px;
    margin-top: 50px;
}

.nav-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF !important;
    margin-right: 54px;
    transition-duration: 0.2s !important;
}

.nav-link:hover {
    transition-duration: 0.2s !important;
    color: #b4b4b4 !important;
}

.navbar .btn {
    border: none;
    width: 136px;
    height: 50px;
    background: rgba(252, 71, 84, 0.91);
    border-radius: 4px;
    margin-top: -5px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    transition-duration: 0.5s;
}

.navbar .btn:hover {
        transition-duration: 0.5s;
        background: transparent;
        border: 2px solid rgba(252, 71, 84, 0.55);
}


@media (max-width: 992px) {
    .nav-link {
        margin-right: 0;
    }

    .navbar-nav {
        margin-right: 0px;
        margin-top: 0px;
    }

}


@media (max-width: 625px) {
    .navbar-brand {
        margin-left: 0;
        margin-top: 5px;
    }

    .navbar-nav .btn {
        margin-top: 5px;
    }
}

.main-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #FFFEFE;
    margin-left: 62px;
    margin-top: 183px;
}

.info-text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 62px;
    margin-top: 35px;
}

.explore-btn {
    width: 136px;
    height: 50px;
    background: rgba(252, 71, 84, 0.91);
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 62px;
    transition-duration: 0.5s;
}

.explore-btn:hover {
    transition-duration: 0.5s;
    background: transparent;
    border: 2px solid rgba(252, 71, 84, 0.55);
}

.connect-btn {
    width: 136px;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(252, 71, 84, 0.55);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 25px;
    transition-duration: 0.5s;
}

.connect-btn:hover {
    transition-duration: 0.5s;
    background: rgba(252, 71, 84, 0.91);
}

.pers {
    float: right;
    margin-right: 200px;
    margin-top: -270px;
}

.timer-block {
    width: 417px;
    height: 84px;
    background: linear-gradient(91.03deg, rgba(255, 254, 254, 0.23) -47.11%, rgba(255, 254, 254, 0.23) 110.32%);
    backdrop-filter: blur(30px);
    border-radius: 7px;
    position: absolute;
    right: 0;
    margin-right: 320px;
}

.bid-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 13px;
    padding-left: 14px;
}

.bid {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    padding-left: 14px;
    margin-top: -10px;
}

.time-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
    float: right;
    margin-top: -74.5px;
    margin-right: 140px;
}

.time {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    float: right;
    margin-top: -43px;
    margin-right: 140px;
}

.bid-btn {
    width: 114px;
    height: 53px;
    background: rgba(252, 71, 84, 0.98);
    border: 2px solid #FF828B;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    float: right;
    margin-top: -71px;
    margin-right: 10px;
    transition-duration: 0.5s;
}

.bid-btn:hover {
    transition-duration: 0.5s;
    border: 2px solid rgba(252, 71, 84, 0.98);
    background: #FF828B;
}

.stats-block {
    width: 305px;
    height: 61px;
    margin-left: 62px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.line {
height: 61px;
width: 0px;
border: 2px solid rgba(255, 255, 255, 0.7);
}

.users-amount,
.artworks-amount,
.artists-amount {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
}

.users-text,
.artworks-text,
.artists-text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 2px;
    margin-top: -15px;
}

.light-1 {
    position: absolute;
    width: 262px;
    height: 262px;
    left: -188px;
    top: 41px;
    background: #FC4754;
    filter: blur(200px);
}

.light-2 {
    position: absolute;
    width: 262px;
    height: 262px;
    right: 300px;
    bottom: 200px;
    background: #FC4754;
    filter: blur(200px);
    z-index: -999;
}

.light-3 {
    position: absolute;
    width: 262px;
    height: 262px;
    background: rgba(252, 71, 84, 1);
    filter: blur(200px);
}

@media (max-width: 1230px) {
    .pers {
        margin-right: 50px;
    }

    .timer-block {
        margin-right: 170px;
    }
}

@media (max-width: 990px) {
    .pers {
        float: unset;
        margin-top: 0;
        margin-right: 0;
        margin-top: 150px;
    }

    .timer-block {
        position: absolute;
        margin-right: 0;
        left: 0;
        left: 50%;
        transform: translate(-50%);
        margin-top: 400px;
    }

    .main-block p {
        text-align: center;
        margin-left: 0;
    }

    .connect-btn {
        margin-top: 25px;
    }

    .stats-block {
        margin: 0;
        margin: 0 auto;
        margin-top: 100px;
    }
}

@media (max-width: 418px) {
    .timer-block {
        width: 95%;
        height: 150px;
    }

    .bid-btn {
        margin-top: 0;
        float: unset;
    }

    .time-text {
        margin-right: 14px;
    }

    .time {
        margin-right: 14px;
    }
}