* {
    box-sizing: border-box;
}

body {
    background-color: rgb(0,28,47);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    width: 350px;
    height: 520px;
    background-color: rgb(8, 71, 105);
    border-top: 10px solid rgb(0,158,227);
}

.field {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 15px;
}

.info-main-text {
    margin-top: -15px;
    line-height: 15px;
    margin-left: 1.5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
}

header {
    margin-left: 15px;
}

.header-text {
    font-family: 'Montserrat', sans-serif;
    color: rgb(13, 182, 255);
    font-weight: 700;
    font-size: 24px;
}

.field input {
    width: 285px;
    background: transparent;
    border: 1.5px solid rgb(0,158,227);
    margin-top: 3px;
    padding-left: 15px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    height: 35px;
}

.field label {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.field input[type="submit"] {
    width: 160px;
    height: 40px;
    background-color: rgb(0,158,227);
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    padding-left: -5px;
}

.error-txt {
    background-color: rgb(230, 115, 115);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    width: 250px;
}

.back {
    color: rgba(255, 255, 255, 0.521) !important;
    text-align: center;
    margin-left: 25px;
    opacity: 0.5;
}

.back:hover {
    opacity: 0.7;
}

.image-input input {
    border: none !important;
}

.input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
  }
   
  .input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
  }

.input__file-icon {
    cursor: pointer;
}

#result {
    border-radius: 50%;
}

@media (max-width: 360px) {
    section {
        width: 310px;
    }

    section input {
        width: 290px;
    }
}