* {
    box-sizing: border-box;
}

.main {
    display: flex;
    height: 100vh;
}

.main-left {
    width: 20%;
    height: 100vh;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0.9532855378479517) 0%, rgba(29,29,29,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.9532855378479517) 0%, rgba(29,29,29,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,0.9532855378479517) 0%, rgba(29,29,29,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#1d1d1d",GradientType=1);
}

.main-right {
    width: 80%;
    height: 100vh;
    background: rgb(30,182,214);
    background: -moz-linear-gradient(90deg, rgba(30,182,214,1) 0%, rgba(0,142,92,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(30,182,214,1) 0%, rgba(0,142,92,1) 100%);
    background: linear-gradient(90deg, rgba(30,182,214,1) 0%, rgba(0,142,92,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1eb6d6",endColorstr="#008e5c",GradientType=1);
}

.main-text {
    color: rgba(30,182,214,1);
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-top: 35px;
    text-align: center;
}

.main-info {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 14px;
    text-align: center;
    margin-top: -20px;
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    margin-left: 7.5%;
}

.buttons button {
    margin-top: 20px;
    background: transparent;
    border: 1.5px solid #fff;
    height: 40px;
    color: #fff;
    padding-bottom: 4px;
    transition-duration: 0.5s;
    white-space: nowrap;
    width: 100%;
}

.buttons button:hover {
    transition-duration: 0.5s;
    background-color: #fff;
    color: black;
}

.active {
    background: rgb(30,182,214) !important;
    transition-duration: 0.5s;
}

.active:hover {
    transition-duration: 0.5s;
    background: transparent !important;
    color: #fff !important;
}

.logout-btn {
    width: 100%;
    margin-top: 55px !important;
    background: transparent;
    border: 1.5px solid #fff;
    height: 40px;
    color: #fff;
    padding-bottom: 4px;
    transition-duration: 0.5s;
}

.main-right-wrapper {
    margin-top: 30px;
    width: 95%;
    height: 90vh;
    background: url(../img/atom-bg.png);
    background-size: cover;
}

.data-tab {
    padding-top: 90px;
    padding-left: 30px;
}

.fullname {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.fullname-text {
    border: 2px solid #00e1f7;
    background: #009ba3;
    width: 60%;
    height: 70px;
    padding-top: 20px;
    padding-left: 30px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
}

.institut {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 20px !important;
    font-size: 20px;
}

.institut-text {
    border: 2px solid #00e1f7;
    background: #009ba3cd;
    width: 60%;
    height: 70px;
    padding-top: 20px;
    padding-left: 30px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
}

.college {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 20px !important;
    font-size: 20px;
}

.college-text {
    border: 2px solid #00e1f7;
    background: #009ba3a3;
    width: 60%;
    height: 70px;
    padding-top: 20px;
    padding-left: 30px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
}

.date {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 20px !important;
    font-size: 20px;
}

.date-text {
    border: 2px solid #00e1f7;
    background: #009ba3;
    width: 60%;
    height: 70px;
    padding-top: 20px;
    padding-left: 30px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
}

@media (max-width: 1185px) {
    .fullname-text,
    .institut-text,
    .college-text {
        width: 70vw;
    }
}

@media (max-width: 837px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .main-left {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .buttons {
        margin-left: 0;
        width: 100%;
    }

    .main-left-wrapper {
        display: flex;
        flex-direction: column;
        margin-right: auto!important;
        margin-left: auto!important;
    }

    .main-right {
        width: 100%;
    }

    .fullname,
    .institut,
    .college {
        text-align: center;
    }

    .fullname-text,
    .institut-text,
    .college-text {
        width: 95%;
    }
}

@media (max-width: 739px) {
    .fullname-text,
    .institut-text,
    .college-text {
        height: 65px;
    }

    .fullname-text,
    .college-text {
        padding-top: 20px;
    }
}

@media (max-width: 353px) {
    .institut-text {
        height: 90px;
    }
}

.your-groups-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

.test-p {
    margin-top: 50px;
}

.create-group button {
    width: 200px;
    height: 75px;
    border: 3px solid rgb(10, 189, 126);
    background: transparent;
    color: #fff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    transition-duration: 0.5s;
    margin-left: 1px !important;
}

.create-group button:hover {
    background-color: #fff;
    color: rgb(10, 189, 126);
}

.create-group {
    width: 200px;
    height: 100px;
    text-decoration: none !important;
    margin-top: 100px;
}

.avatar-data {
    float: right;
    margin-top: -380px;
    margin-right: 75px;
}

.image img {
    border: 5px solid #00e7ff;
}

.change-btn {
    width: 250px;
    height: 45px;
    border: 2px solid rgb(30, 183, 214);
    background: #009ba388;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition-duration: 0.5s;
}

.change-btn:hover {
    transition-duration: 0.5s;
    background: rgb(30, 183, 214);
    border: 2px solid #009ba388;
}

.field input {
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    height: 35px;
    border: 1px solid rgb(30, 183, 214);
    background: #009ba315;
    color: #000;
    padding-left: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.image-input input {
    border: none !important;
}

.input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
  }
   
  .input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
  }

.input__file-icon {
    cursor: pointer;
}

form header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.field label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

input[type="submit"] {
    width: 50%;
}



.teacher-info {
    height: 55px;
    width: 590px;
    border: 2px solid #00e7ff;
    background: #00a1b0af;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 12px;
    color: #fff;
    margin-top: 25px;
}



.download-submit {
    width: 100% !important;   
}

.teachers-list-text {
    padding-top: 30px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
}