.main-left {
    background: rgb(0,0,0) !important;
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0.9532855378479517) 0%, rgba(29,29,29,1) 100%) !important;
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.9532855378479517) 0%, rgba(29,29,29,1) 100%) !important;
    background: linear-gradient(90deg, rgba(0,0,0,0.9532855378479517) 0%, rgba(29,29,29,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#1d1d1d",GradientType=1) !important;
}

.main-text {
    color: rgba(30,182,214,1) !important;
}

.main-info {
    color: #fff !important;
}

.buttons button {
    border: 2px solid #fff !important;
    color: #fff;
    background: transparent;
}

.main-right-wrapper {
    background: url(../img/atom-bg.png) !important;
}

.text-data p {
    border: 2px solid #00e1f7;
    background: #009ba3;
}

.change-btn {
    border: 2px solid rgb(30, 183, 214) !important;
    background: #009ba388;
    color: #fff;
}

.active {
    background: rgb(30,182,214) !important;
    color: #fff;
}

.main-right {
    background: rgb(30,182,214) !important;
    background: -moz-linear-gradient(90deg, rgba(30,182,214,1) 0%, rgba(0,142,92,1) 100%) !important;
    background: -webkit-linear-gradient(90deg, rgba(30,182,214,1) 0%, rgba(0,142,92,1) 100%) !important;
    background: linear-gradient(90deg, rgba(30,182,214,1) 0%, rgba(0,142,92,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1eb6d6",endColorstr="#008e5c",GradientType=1);
}

.change-theme[data-theme="dark"] {
    display: none;
}

.change-theme[data-theme="light"] {
    display: block;
}

.class-name-text {
    border: none !important;
    background: none !important;
}